.about {
  position: absolute;
  display: block;
  height: 500px;
  width: 100%;
  background-color: black;
  padding-top: 15%;
  text-align: center;
  z-index: 4;
  margin: 0 auto;
  color: white;
}

.about a {
  color: white;
}
